[flake8]
max-line-length = 100

ignore =
    # Rules:
    #
    # * whitespace before ':'
    # * line break before binary operator
    #
    # No need for these rules because the styling is already handled by Black.
    E203
    W503